.input-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid $gray-medium;
    &.error {
      input {
        border-color: $orange;
      }
    }
  }
  
  .input-row-visible {
    input {
      width: 400px;
    }
    @include media-breakpoint-down(sm) {
      input {
        width: 100%;
      }
    }
  }
  
  .input-label {
    font-weight: bold;
    color: $gray;
    flex-shrink: 0;
    width: 150px;
  }
  
  .input-row-hidden {
    color: $orange;
  }
  
  .handle-currency-btn {
    color: $white;
    background-color: $orange;
    border-radius: 5px;
    border: 0;
    padding: 8px 45px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.7px;
    float: right;
    transition: opacity .3s ease;
    &:focus {
      outline: none;
    }
    &:hover {
      opacity: .8;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }
  