.header {
    position: relative;
    z-index: 1;
    box-shadow: -4px -6px 20px 0 $black;
  }

  .header-left {
    background-color: $orange-dark;
  }

  .header-right {
    background-color: $orange;
  }

  .header-left,
  .header-right {
    display: flex;
    align-items: center;
    padding: 15px;
    color: $white;
  }

  .header-title {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .header-logo {
    img {
      width: 40px;
    }
  }