html,
body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  height: 100%;
  display: flex;
  > div {
    width: 100%;
    margin: 0;
  }
  @include media-breakpoint-down(sm) {
    padding-bottom: 20px;
    > div {
      flex-wrap: wrap;
    }
  }
}

.list-section {
  background-color: $white-smoke;
}

.section-title {
  margin: 20px 0;
  padding-bottom: 10px;
  color: $orange;
  border-bottom: 1px solid $orange;
}

.inputs-wrapper {
  max-width: 800px;
  .section-title {
    margin-bottom: 10px;
  }
}

input {
  width: 100%;
  padding: 8px 10px;
  color: $gray;
  border: 1px solid $gray-medium;
}
