.currencies-wrapper {
    padding-left: 0;
  }
  
  .add-currency {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-size: 14px;
    color: $orange;
    margin-bottom: 30px;
    border-bottom: 1px solid $gray-medium;
    img {
      width: 20px;
      margin-right: 10px;
    }
    &:hover {
        color: $orange;
    }
  }
  
  .currency-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    border-bottom: 1px solid $gray-medium;
    a {
      flex-grow: 1;
      padding: 14px 0;
      color: $gray;
      font-size: 18px;
      &:hover {
        text-decoration: none;
        opacity: .7;
      }
      &.router-link-active {
        color: $orange;
      }
    }
    &:hover {
      .delete-currency-btn {
        opacity: 1;
      }
    }
  }
  
  .delete-currency-btn {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    font-size: 14px;
    color: $gray;
    opacity: 0;
    transition: opacity .2s ease;
    outline: none;
    &:hover {
      text-decoration: underline;
    }
  }
  
  .search-currency {
    margin-bottom: 15px;
  }