// Color variables

$white: #fff;
$black: #000;
$orange-dark:#e35800;
$orange: #ff6300;
$gray-light: #eee;
$gray-medium: #c7c7c7;
$gray: #4e4e4e;
$white-smoke: #f7f7f7;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;