<template>
  <div class="inputs-wrapper">
    <h3 class="section-title">{{pageType}} currency</h3>
    <div class="input-row" :class="{ 'error' : isoExists || isoEmpty }">
      <span class="input-label">Currency Code</span>
      <div class="input-row-visible">
        <input type="text" maxlength="3" v-model="iso">
        <div class="input-row-hidden">
          <span v-if="isoExists">Already exists</span>
          <span v-if="isoEmpty">Required</span>
        </div>
      </div>
    </div>
    <div class="input-row" :class="{ 'error' : symbolExists || symbolEmpty }">
      <span class="input-label">Currency Symbol</span>
      <div class="input-row-visible">
        <input type="text" maxlength="5" v-model="symbol">
        <div class="input-row-hidden">
          <span v-if="symbolExists">Already exists</span>
          <span v-if="symbolEmpty">Required</span>
        </div>
      </div>
    </div>
    <button type="button" class="handle-currency-btn" @click="onButtonClick(selectedCurrencyItem)">Submit</button>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from "vuex";
  import uuid from "uuid";

  export default {
    name: "AddAndEditCurrency",
    data() {
      return {
        iso: "",
        symbol: "",
        isoExists: false,
        isoEmpty: false,
        symbolExists: false,
        symbolEmpty: false
      };
    },
    watch: {
      $route() {
        this.isoExists = false;
        this.isoEmpty = false;
        this.symbolExists = false;
        this.symbolEmpty = false;
      },
      selectedCurrencyItem() {
        this.iso = this.selectedCurrencyItem.iso;
        this.symbol = this.selectedCurrencyItem.symbol;
      }
    },
    methods: {
      onButtonClick(selectedCurrencyItem) {
        if (this.iso == "") {
          this.isoEmpty = true;
        } else {
          this.isoEmpty = false;
        }
        if (this.symbol == "") {
          this.symbolEmpty = true;
        } else {
          this.symbolEmpty = false;
        }

        this.isoExists = false;
        this.symbolExists = false;

        this.allCurrencies.forEach(item => {
          const uppercaseItemISO = item.iso.toUpperCase();
          const uppercaseISO = this.iso.toUpperCase();
          const uppercaseItemSymbol = item.symbol.toUpperCase();
          const uppercaseSymbol = this.symbol.toUpperCase();

          if (uppercaseItemISO === uppercaseISO) {
            this.isoExists = true;
          }
          if (uppercaseItemSymbol === uppercaseSymbol) {
            this.symbolExists = true;
          }
        });

        if (!this.symbolEmpty && !this.isoEmpty) {
          if (!this.symbolExists && !this.isoExists) {
            const newCurrency = {
              id: uuid.v1(),
              iso: this.iso,
              symbol: this.symbol
            };
            this.handleCurrency({newCurrency, selectedCurrencyItem});
            this.iso = "";
            this.symbol = "";
            this.$router.push({name: "currencies"});
          }
        }
      },
      ...mapActions(["handleCurrency"])
    },
    computed: mapGetters(["allCurrencies", "selectedCurrencyItem", "pageType"])
  };
</script>

<style scoped>
</style>
