<template>
  <div class="section-sidebar">
    <h3 class="section-title">Currency List</h3>
    <SearchCurrency/>
    <ul class="currencies-wrapper">
      <CurrencyItem
        v-for="currency in filteredCurrencies"
        :key="currency.id"
        v-bind:currency="currency"
      />
    </ul>
    <router-link @click.native="setPageType('Add')" class="add-currency" to="/currencies/add">
      <img src="../assets/plus-button.svg">Add currency
    </router-link>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from "vuex";
  import CurrencyItem from "./CurrencyItem.vue";
  import SearchCurrency from "./SearchCurrency.vue";

  export default {
    name: "CurrencySection",
    components: {
      CurrencyItem,
      SearchCurrency
    },
    methods: {
      ...mapActions(["setPageType"])
    },
    computed: mapGetters(["filteredCurrencies"])
  };
</script>

<style scoped>
</style>
