<template>
  <li :data-id="currency.id" :data-symbol="currency.symbol" class="currency-item">
    <router-link @click.native="selectedCurrency({currency, pageType})" :to="{ name: 'edit', params: { currencyIso: currency.iso }}">{{currency.iso}}</router-link>
    <button type="button" class="delete-currency-btn" @click="onDeleteCurrency(currency.id)">Delete</button>
  </li>
</template>

<script>
  import { mapActions } from "vuex";

  export default {
    name: "CurrencyItem",
    props: {
      currency: Object
    },
    data() {
      return {
        pageType: 'Edit'
      }
    },
    methods: {
      onDeleteCurrency(id) {
        this.deleteCurrency(id);
        this.$router.push({name: "currencies"});
      },
      ...mapActions(["deleteCurrency", "selectedCurrency"])
    }
  };
</script>

<style scoped>
</style>
