<template>
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="header-left col-md-4">
          <a href="/" class="header-logo">
            <img src="../assets/logo.png">
          </a>
        </div>
        <div class="header-right col-md-8">
          <h1 class="header-title">Currencies</h1>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
  export default {
    name: "Header"
  };
</script>

<style scoped>
</style>
