<template>
  <div class="search-currency">
      <input type="text" :placeholder="placeholderValue" v-model="searchTerm" />
  </div>
</template>

<script>
  export default {
    name: "SearchCurrency",
    data() {
      return {
        placeholderValue: "Search"
      };
    },
    computed: {
      searchTerm: {
        get() {
          return this.$store.state.searchTerm;
        },
        set(value) {
          this.$store.dispatch("searchCurrency", value);
        }
      }
    },
  };
</script>

<style scoped>
</style>
