<template>
  <div id="app">
    <Header/>
    <main class="main-wrapper">
      <div class="row">
        <div class="list-section col-md-4">
          <CurrencySection />
        </div>
        <div class="main-section col-md-8">
          <router-view></router-view>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import CurrencySection from "./components/CurrencySection.vue";

export default {
  name: "app",
  components: {
    Header,
    CurrencySection
  }
};
</script>

<style lang="scss">
  @import 'style/styles.scss';
</style>
